@font-face {
    font-family: 'Terminal';
    src: url(./VG5000-Regular_web.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Terminal', Helvetica, sans-serif;
    color: white;
}

html {
    background-color: rgb(20, 20, 20);
    margin: 20px;
    overflow: hidden;
}

button {
    background-color: rgb(20, 20, 20);
    border: 0;
    border-radius: 4px;
}

button:hover {
    cursor: pointer;
}

#page-container {
    margin: 0 auto;
    width: 320px;
    background-color: rgb(40, 40, 40);
    padding: 20px;
    border-radius: 8px;
}

#calc-container {
    display: grid;
    grid-template-rows: 1fr;
    gap: 16px;
}

#input-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 16px;
}

#num-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
}

#symbol-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
}

#action-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 16px;
}

#output {
    background-color: rgb(20, 20, 20);
    padding: 0 16px;
}

#equals {
    background-color: rgb(8, 87, 233);
}